body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 30px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

textarea {
    width: 300px;
    height: 120px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px 15px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

canvas {
    margin-top: 20px;
    background: #1e293b;
    border-radius: 50%;
}

#results {
    margin-top: 20px;
    text-align: left;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}